#wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#wrapper div{
    display: flex;
    align-items: center;
    background-color: indigo;
    padding: 5px;
    margin-right: 5px;
}

.buttons{
    margin-top: 50px;
    display:flex;
    justify-content: center;
}

.buttons div{
    cursor: pointer;
    margin-right: 5px;
    background-color: rgb(107, 107, 107);
    padding: 5px;
}