body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

a{
    align-self: start;
}

h1{
    font-size: 3em;
    margin-bottom: 20px;
    color:white
}

h2{
    font-size: 1em;
}

iframe{
    margin-bottom: 1%;
}

select{
    margin-bottom: 1%;
}

input{
    margin-bottom: 1%;
}

legend{
    margin-bottom: 5px;
}

textarea{
    margin-bottom: 1%;
}

#date{
    margin-bottom: 1%;
}

#button{
    margin-bottom: 1%;
    text-align:center;
	color:#007636;
	position:relative;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	padding:11px 15px;
    text-decoration: none;
	transition: all .6s ease;
	transition-timing-function: ease;
}

#button:hover{
	letter-spacing: 3px;
	color:#007636;
}

#button:before, #button:after {
	border: 1px solid rgba(0,118,54, 0);
	bottom: 0px;
	content: "";
	display: block;
	height:0;
	margin: 0 auto;
	width: 0;
	position:absolute;
	left:50%;
	top:0;
}

#button:before{
	bottom:0;
	top:auto;
}

#button:hover:before,
#button:hover:after {
	border-color: #007636;
	transition:all 350ms ease-in-out;
	width: 100%;
	left:0;
}

footer{
    width: 100%;
}
